p {
    color: red;
}

h2 {
    text-decoration: underline;
}

h3 {
    text-transform: uppercase;
}

.class-callout {
    color: green;
}

#selector-callout {
    color: blue;
}

.boxes p {
    color: purple;
}

.items > li {
    list-style: none;
}

h3 + p {
    font-size: 120%;
}

h3 ~ p {
    color: slateblue;
}